# Build output
dist
src-tauri/target

# Dependencies
node_modules

# Environment files
*.env
*.env.*

# OS files
.DS_Store

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Temporary files
*.log
*.tmp
